<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>
    <%- include ('partials/navbar') %>
<div class="container">
    <h1>Welcome to my Reddit Demo</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident possimus ratione, unde rem velit aspernatur eum beatae nemo! Nesciunt, accusamus nihil. Aut id tenetur odio incidunt earum reiciendis deleniti debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, dolore vero harum voluptatibus possimus, magni doloremque, praesentium odio delectus dolorem impedit laborum totam error nesciunt culpa. Magni obcaecati recusandae neque?</p>
</div>
</body>
</html>